*{
    padding: 0px;
    margin: 0px;
}

.clk{
    background-color: black;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}